html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
    font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    min-height: 100%;
}

main {
    flex: 1 0 auto;
}

.navbar-fixed {
    position: relative;
    z-index: 997;
}

.navbar-fixed nav.navbar {
    width: 100%;
    left: 0;
}

.has-fixed-sidenav .navbar-fixed nav.navbar {
    width: calc(100% - 300px);
    left: 300px;
}

.page-footer {
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    color: #444;
    padding: 40px 0;
    margin: 0;
}

ul.action-list {
    margin: 0;
    padding: 0;
}

ul.action-list > li {
    display: inline-block;
}

.errors.card-panel {
    padding: 15px 24px;
}

.navbar-fixed nav {
    position: fixed;
}

nav.navbar {
    z-index: 10;
    transition: box-shadow .3s, background-color .3s;
    padding: 0 20px;
    color: rgba(0, 0, 0, 0.87);
}

@media screen and (min-width: 993px) {
    body.has-fixed-sidenav {
        padding-left: 300px;
    }

    .container {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        height: 64px;
        line-height: 64px;
    }
}

@media only screen and (min-width: 993px) {
    .has-fixed-sidenav .navbar-fixed nav.navbar {
        width: calc(100% - 300px);
        left: 300px;
    }
}

.ck-editor__editable {
    min-height: 500px !important;
}