html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex-grow: 2;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

@media only screen and (max-width: 600px) {
    h1, h2, h3, h4, h5 {
        line-break: anywhere;
    }
}
